@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    color: #000c15;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    background: url("../img/pc.jpg");
}
header{
    color: #ffffff;
    padding: 0;
    height: 25rem;
    position: relative;
    background: rgba(35, 14, 5, 100);
}
header h1{
    padding: 1rem;
}
.headmenu{
    position: absolute;
    bottom: 7rem;
    list-style: none;
    position: absolute;
    right: 0;
}
.headmenu a{
    color: #fff;
}
.headmenu li{
    display: inline-block;
    margin: 0px 10px;
}

.menulist{
    position: absolute;
    bottom: 0;
    width: 100%;
    list-style: none;
    background-color: #dddddd;
    text-align: center;
}
.menulist li{
    display: inline-block;
}
.button {
    display: inline-block;
    width: 150px;
    height: 54px;
    text-align: center;
    text-decoration: none;
    line-height: 54px;
    outline: none;
    position: relative;
  z-index: 2;
  background-color: #333;
  border: 2px solid #333;
  color: #fff;
  line-height: 50px;
}
.button:hover {
    background-color: #fff;
    border-color: #DEB887;
    color: #DEB887;
}
.button::before,
.button::after{
    position: absolute;
    z-index: -1;
    display: block;
    content: "";
    top: 0;
  width: 50%;
  height: 100%;
  background-color: #333;
}
.button::before {
    right: 0;
  }
  .button::after {
    left: 0;
  }
  .button:hover::before,
  .button:hover::after {
    width: 0;
    background-color: #DEB887;
  }
.button,
.button::after,
.button::before{
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;

}
/*チェックボックス等は非表示に*/
.nav-unshown {
    display:none;
  }

.container{
    
    width: 100%;
    display: flex;
}
aside{
    width: 300px;
    padding: 10px;
    margin: 30px 10px;
    background: rgba(255, 255, 255, 0.6);
    
}
main{
    flex: 1;
    padding: 10px;
    margin: 30px 10px;
    background: rgba(255, 255, 255, 0.6);
}
aside h3{
    font-size: 20px;
    color: #444d53;
    letter-spacing: 2px;
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 0;
    text-align: center;
}
aside h3::before, aside h3::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 30%; /*ラインの長さ*/
    border-top: 3px solid #444d53; /*ラインの色*/
}
aside h3::before {
    left: 0;
}
aside h3::after {
    right: 0;
}
main h2{
    margin:  0;                 /* デフォルトCSS打ち消し */
    font-size:  24px;           /* 文字サイズ指定 */
    border-bottom: solid 3px;   /* 線指定 */
    padding-bottom:  5px;       /* 余白指定 */
    margin-bottom: 15px;        /* 周りの余白指定 */
    position:  relative;        /* 位置調整 */
    font-weight:  normal;
    color: #444d53;
    font-weight: bold;
}
main h2:before {
    content:  '';               /* 空白の要素を作る */
    width: 100%;                /* 幅指定 */
    height: 1px;                /* 高さ指定 */
    background-color: #000;     /* 背景色指定 */
    display:  block;            /* ブロック要素にする */
    position:  absolute;        /* 位置調整 */
    left:  0;                   /* 位置調整 */
    bottom: -6px;               /* 位置調整 */
}
main p{
    padding-bottom: 15px;
}
footer{
    padding: 30px 20px;
    background: rgba(35, 14, 5, 0.74);
}
footer p{
    color: #fff;
    text-align: center;
}
@media screen and (max-width:768px) { 
    header{
        position: relative;
        text-align: center;
    }
    
    
    .button{
        all: initial;
        padding: 0.5rem;
        
    }
    .menulist{
        all: initial;
        display: flex;
        flex-direction: column;
    }
    
    .button::before,
    .button::after{
        all: initial;
        
    }
    /*チェックボックス等は非表示に*/
    .nav-unshown {
        display:none;
    }
    /*アイコンのスペース*/
    #nav-open {
        display: inline-block;
        width: 30px;
        height: 30px;
        vertical-align: middle;
    }
    header nav{
        position: absolute;
        top: 1rem;
        left: 1rem;
    }
    /*ハンバーガーアイコンをCSSだけで表現*/
    #nav-open span, #nav-open span:before, #nav-open span:after {
        position: absolute;
        height: 3px;/*線の太さ*/
        width: 25px;/*長さ*/
        border-radius: 3px;
        background: #fff;
        display: block;
        content: '';
        cursor: pointer;
        
    }
    #nav-open span:before {
        bottom: -8px;
    }
    #nav-open span:after {
        bottom: -16px;
    }
    #nav-close {
        display: none;/*はじめは隠しておく*/
        position: fixed;
        z-index: 99;
        top: 0;/*全体に広がるように*/
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0;
        transition: .3s ease-in-out;
    }
    /*中身*/
    #nav-content {
        overflow: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;/*最前面に*/
        width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
        max-width: 40%;/*最大幅*/
        height: 100%;
        background: linear-gradient(180deg,#DEB887 0%,#DEB887 12rem,
        #fff 12rem,#fff 100%);/*背景色*/
        transition: .3s ease-in-out;/*滑らかに表示*/
        -webkit-transform: translateX(-105%);
        transform: translateX(-105%);/*左に隠しておく*/
        padding-top:12rem;
    }
    /*チェックが入ったら表示*/
    #nav-input:checked ~ #nav-close {
        display: block;/*カバーを表示*/
        opacity: .5;
    }
    #nav-input:checked ~ #nav-content {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);/*中身を表示（右へスライド）*/
        box-shadow: 6px 0 25px rgba(0,0,0,.15);
     }
    .container{
        display: initial;
        padding: 0;
        width: 100%;
        
    }
    aside{
        width:100%;
        margin:1rem 0;
        padding: 0;
        max-width: initial;
        
        max-height: auto;
    }
    
    main{
        margin: 0;
        padding: 0;
        max-width: initial;
        max-height: auto;
        flex-wrap: wrap;
    }
    
}

